@{
  Layout = "_Layout";
}

<h1>Welcome to Recipe Box! The place where you can put your recipes in a box!</h1>
<p>@Html.ActionLink("See all recipes", "Index", "Recipes")</p> 
<p>@Html.ActionLink("See all tags", "Index", "Tags")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>